# Non-final Pictures
pics/*_orig_*.png
pics/*_photo_*.png

# old pictures
oldpics

# Local preview files converted from PHP
*.htm
*.html

# Local compiled files that are ready to be uploaded to the server
compiled/*
previews/*

# (External) documentation should have its own lifecycle and not be included here in git
*.pdf

# (External) program files etc. too!
*.zip
