# Non-final Pictures
pics/*_orig_*.png
pics/*_orig.png
pics/*_photo_*.png

# old pictures
oldpics

# Local preview files converted from PHP
*.htm
*.html

# Local compiled files that are ready to be uploaded to the server
compiled/*
compiled*/*
previews/*
temp/*
webengineless*

# (External) documentation should have its own lifecycle and not be included here in git
*.pdf
*.doc
*.docx

# (External) program files etc. too!
*.zip

# (External) presentations as well!
*.pptx
*.odp
science/papers/reference_graphs/*

# server-only files
boundless/signup.php
