html {
	margin: 0;
}

body {
	background-color: #000;
	background-image: url('pics/bg1_final_1.jpg');
	background-size: cover;
	margin: 0;
	position: relative;
	font-family: Calibri, sans-serif;
}

section {
	background-color: rgba(255, 255, 255, 0.98);
	box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.98);
	color: #222;
}

header:hover {
	background-color: rgba(245, 245, 245, 1);
	box-shadow: 0px 0px 6px 6px rgba(245, 245, 245, 1);
}

section:hover {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
	color: #000;
}

header {
	margin: 20px 0px 20px 0px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
}

header a {
	color: #222;
	text-decoration: none;
	margin: 0px 16px 0px 8px;
}

header a:hover {
	color: #555;
	box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 1);
}

div.headerbar {
	position: absolute;
	top: 25px;
	left: 250px;
	font-size: 125%;
}

img.logo {
	width: 200px;
	height: 49px;
}

div.footerplaceholder {
	height: 70px;
	visibility: hidden;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20px 0px 0px 0px;
	padding: 10px 10px 30px 10px;
	background-color: rgba(20, 20, 20, 0.9);
	box-shadow: 0px 0px 5px 5px rgba(20, 20, 20, 0.9);
	color: #ddd;
}

footer:hover {
	background-color: rgba(25, 25, 25, 0.95);
	box-shadow: 0px 0px 10px 10px rgba(25, 25, 25, 0.95);
	color: #eee;
}

footer a {
	color: #eee;
}

section {
	margin: 40px auto 40px auto;
	padding: 10px;
	width: 80%;
	max-width: 900px;
}

section a {
	color: #666;
}

div.content {
	margin: 8px 0 0 0;
}

div.item {
	display:inline-block;
}

div.aligncontainer {
	position: relative;
}

div.right {
	position: absolute;
	top: 0;
	right: 0;
}

div.person > div.name {
	margin-left: 170px;
	font-style: italic;
	font-size: 110%;
}

div.picbiocontainer {
	position: relative;
}

div.picbiocontainer > img.pic {
	position: absolute;
	top: 0;
	left: 0;
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

div.picbiocontainer > div.bio {
	margin-left: 170px;
	min-height: 150px;
}

h3 {
	margin: 0;
	font-size: 125%;
	font-weight: normal;
}

div.carouselcontainer {
	height: 55px;
	position: relative;
	overflow: hidden;
}

div.carousel {
	position: absolute;
	width: 200%;
}

div.carousel > a {
	margin-right: 40px;
}
