html {
	margin: 0;
}

body {
	background-color: #000;
	background-image: url('pics/bg2_final_1.png');
	background-size: cover;
	margin: 0;
	position: relative;
	font-family: CarlitoRegular, Carlito, Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

section {
	background-color: rgba(255, 255, 255, 0.98);
	box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.98);
	color: #222;
	transition: background 0.5s, box-shadow 0.5s;
	margin: 40px auto 40px auto;
	padding: 10px;
	width: 80%;
	max-width: 900px;
}

@media (min-resolution: 1.5dppx) {
	section {
		max-width: 1350px;
	}
}

@media (min-resolution: 2dppx) {
	section {
		max-width: 1800px;
	}
}

@media (min-resolution: 3dppx) {
	section {
		max-width: 2700px;
	}
}

/* below 500px width, do not make sections pretty... just squeeze the most space possible out of them! */
@media (max-width: 499px) {
	section {
		margin-left: 0;
		margin-right: 0;
		padding-left: 2px;
		padding-right: 0;
		width: 99%;
	}
	
	h1, h2 {
		text-align: center;
	}
	
	div.aligncontainer > div.center {
		width: 80px;
		left: 60%;
	}
}

section:hover {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 1);
	color: #000;
}

header {
	margin: 20px 0px 20px 0px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.9);
	transition: background 0.5s, box-shadow 0.5s;
}

header:hover {
	background-color: rgba(245, 245, 245, 1);
	box-shadow: 0px 0px 6px 6px rgba(245, 245, 245, 1);
}

header > div > div > a {
	color: #222;
	text-decoration: none;
	margin: 0px 16px 0px 8px;
}

header > div > div > a:hover {
	color: #555;
	box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 1);
}

div.headerbar {
	position: absolute;
	top: 25px;
	left: 250px;
	font-size: 125%;
	width: 2000px;
}

/* between 550px and 700px, display the whole header bar nicely, but without the first item */
@media (max-width: 699px),
(min-resolution: 1.5dppx) and (max-width: 850px),
(min-resolution: 2dppx) and (max-width: 1040px),
(min-resolution: 3dppx) and (max-width: 1380px) {
	#whatwedoitem {
		display: none;
	}
}

/* below 550px, only display our logo at the top, and avoid the items at all */
@media (max-width: 549px),
(min-resolution: 1.5dppx) and (max-width: 675px),
(min-resolution: 2dppx) and (max-width: 810px),
(min-resolution: 3dppx) and (max-width: 1050px) {
	div.headerbar {
		display: none;
	}
}

img.logo {
	width: 200px;
	height: 49px;
	min-height: 49px;
	transition: transform 0.5s;
}

img.logo:hover {
	transform: scale(1.15);
}

div.footerplaceholder {
	height: 90px;
	visibility: hidden;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20px 0px 0px 0px;
	padding: 10px 10px 15px 10px;
	background-color: rgba(20, 20, 20, 0.8);
	box-shadow: 0px 0px 5px 5px rgba(20, 20, 20, 0.8);
	color: rgb(68,109,129);
	transition: background 0.5s, box-shadow 0.5s, color 0.5s;
}

footer img {
	transition: transform 0.5s, opacity 0.5s;
	opacity: 0.5;
}

footer:hover {
	color: rgb(114,201,235);
	background-color: rgb(30, 0, 60);
	box-shadow: 0px 0px 10px 10px rgba(30, 0, 60, 1);
}

footer:hover img {
	transform: scale(1.25);
	opacity: 1;
}

section a {
	color: #666;
}

div.expander {
	display: inline-block;
	cursor: pointer;
	transition: transform 0.5s;
	margin-right: 20px;
	opacity: 0.8;
}

div.expander:hover {
	transform: scale(1.25);
}

div.content {
	margin: 8px 0 0 0; /* 8px 0 0 0: magic number 1 */
}

div.item {
	display:inline-block;
}

div.aligncontainer {
	position: relative;
}

div.right {
	position: absolute;
	top: 0;
	right: 0;
}

div.center {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

div.personcardcontainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

div.person:not(:last-child) {
	margin-bottom: 20px;
}

div.person > div.name {
	margin-left: 170px;
	font-style: italic;
	font-size: 110%;
	z-index: 500;
}

div.card {
	display: inline-block;
	position: relative;
	height: 168px;
	width: 140px;
	margin-bottom: 0px !important;
}

div.card > div.name {
	margin-left: 0px;
	text-align: center;
	bottom: 10px;
	position: absolute;
	width: 140px;
}

div.card a {
	color: #222;
	text-decoration: none;
}

div.card:hover a {
	color: #555;
}

div.picbiocontainer {
	position: relative;
}

div.person img.pic {
	position: absolute;
	top: 0;
	left: 10px;
	height: 130px;
	width: 130px;
	border-radius: 75px;
	transition: transform 0.5s;
	z-index: 750;
}

div.person:hover img.pic {
	transform: scale(1.35);
	z-index: 1000;
}

div.person:hover {
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.02);
	background-color: rgba(0,0,0,0.02);
}

div.picbiocontainer > div.bio {
	margin-left: 170px;
	min-height: 150px;
}

/* below 700px width, do not display people's faces next to their texts, but above or below the texts */
@media (max-width: 699px) {
	div.person > div.name {
		margin-left: 0px;
		text-align: center;
		margin-bottom: 7px;
	}
	
	div.person img.pic {
		right: 10px;
		margin: auto;
	}
	
	div.picbiocontainer > div.bio {
		margin-left: 0px;
		padding-top: 137px;
	}
}

h1 {
	margin: 0;
	font-size: 125%;
	font-weight: normal;
}

h1 a {
	color: #222;
	text-decoration: none;
}

h1 a:hover {
	color: #555;
}

h2 {
	margin: 0;
	font-size: 115%;
	font-weight: normal;
	font-style: italic;
}

i {
	font-style: italic;
}

div.carouselcontainer {
	height: 65px;
	position: relative;
	overflow-x: hidden;
	
	/* achieve margin using padding such that scaled images look nice */
	margin: 0px;
	padding: 8px 0 0 0; /* 8px 0 0 0: magic number 1 */
}

div.carousel {
	position: absolute;
	width: 50000px;
}

div.carousel > a {
	margin-right: 40px;
}

div.carousel img {
	transition: transform 0.5s;
	height: 52px;
}

div.carousel img:hover {
	transform: scale(1.25);
}

img.backtotop {
	height: 50px;
	width: 50px;
	margin-top: 5px;
	margin-right: 10px;
}

strong {
	font-weight: bold;
}

/* makes things look at bit nicer in old IE... but in current IE / Edge, everything is just hopeless ^^ */
img {
	-ms-interpolation-mode: bicubic;
}

/* aaaand now for things that show more than one pixel per pixel: different font sizes!
   (and adapted other styles...) */
@media (min-resolution: 144dpi) {

	body {
		font-size: 150%;
	}

	header {
		margin-top: 10px;
	}

	div.headerbar {
		top: 18px;
	}
	
	div.footerplaceholder {
		height: 135px;
	}
	
	img.logo {
		width: 300px;
		height: 74px;
	}
	
	div.carouselcontainer {
		height: 97px;
	}

	div.carousel img {
		height: 78px;
	}

	img.backtotop {
		height: 75px;
		width: 75px;
	}
}

@media (min-resolution: 192dpi) {

	body {
		font-size: 200%;
	}

	header {
		margin-top: 0px;
	}

	div.headerbar {
		top: 12px;
	}
	
	div.footerplaceholder {
		height: 175px;
	}
	
	img.logo {
		width: 400px;
		height: 98px;
	}

	div.carouselcontainer {
		height: 130px;
	}
	
	div.carousel img {
		height: 104px;
	}

	img.backtotop {
		margin-top: 8px;
		height: 100px;
		width: 100px;
	}
}

@media (min-resolution: 288dpi) {

	body {
		font-size: 300%;
	}

	header {
		margin-top: 0px;
	}

	div.headerbar {
		top: 1px;
	}
	
	div.footerplaceholder {
		height: 222px;
	}
	
	img.logo {
		width: 600px;
		height: 147px;
	}
	
	div.carouselcontainer {
		height: 195px;
	}
	
	div.carousel img {
		height: 156px;
	}

	img.backtotop {
		margin-top: 8px;
		height: 150px;
		width: 150px;
	}
}
