html {
	margin: 0;
	min-height: 100%;
}

body {
	background-color: #000;
	background-image: url('pics/bg2_final_1.png');
	background-size: cover;
	margin: 0;
	position: relative;
	font-family: CarlitoRegular, Carlito, Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	min-height: 100%;
}

div.maincontainer {
	position: relative;
	margin: 0px auto 0px auto;
	max-width: 95%;
}

section {
	position: relative;
	margin: 25px 0px 25px auto;
	padding: 18px 27px 8px 27px;
	width: 60%;
	opacity: 0.95; /* just a default - will be randomized individually anyway */
	transition: opacity 0.5s ease-in-out;
}

section:hover {
	opacity: 1 !important; /* make this important to get over the randomized values */
}

div.insec {
	position: relative;
	background-color: rgb(255, 255, 255);
	color: #222;
	padding: 10px;
	z-index: 100;
}

div.leftnavcontainer {
	float: left;
	margin-top: 34px;
	width: 20%;
}

section.leftnav {
	width: 100%;
	text-align: center;
	font-size: 115%;
	font-weight: bold;
	margin: 0px;
	padding: 9px 63px 0px 63px;
}

section.leftnav > div.insec {
	height: 1.35em;
	padding-left: 0px;
	padding-right: 0px;
	position: unset;
}

section.leftnav > div.insec > a {
	color: #300060;
	text-decoration: none;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 100;
}

section.leftnav > div.insec > a > div {
	transition: transform 0.3s;
}

section.leftnav > div.insec > a:hover > div {
	transform: scale(1.1);
}

img.pix {
	position: absolute;
}

img.secpix {
	z-index: 10;
}

img.navpix {
	z-index: 10;
	top: 0;
}

img.headerpix {
	right: 0;
	top: 0;
}

img.footerpix {
	right: 0;
	top: 0;
}

img.left {
	left: 0;
}

img.right {
	right: 0;
}

img.top {
	top: 0;
}

img.bottom {
	bottom: 0;
}

a.paperpreview {
	width: 100px;
	height: 129px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
	position: absolute;
	text-decoration: none;
	color: #000;
	margin-top: 7px;
}

header {
	position: relative;
	margin: 20px 0px 15px 0px;
	opacity: 0.98;
	transition: opacity 0.5s ease-in-out;
}

header:hover {
	opacity: 1 !important;
}

div.headerwhite {
	margin: 0px 140px 0px 0px; /* right margin is width of pixels header minus a few px overlap */
	height: 5.05em; /* height is height of pixels header */
	background-color: rgb(255, 255, 255);
	position: relative;
	overflow: hidden;
}

div.headerwhite > div > div {
	transition: transform 0.3s;
}

div.headerwhite > div > div:hover {
	transform: scale(1.1);
}

div.headerwhite > div > div > a {
	color: #222;
	text-decoration: none;
	margin: 0px 16px 0px 8px;
}

div.headerbar {
	position: absolute;
	top: 25px;
	left: 220px;
	font-size: 125%;
	width: 2000px;
}

img.logo {
	width: 200px;
	height: 49px;
	min-height: 49px;
	transition: transform 0.5s;
	padding-left: 0.8em;
	padding-top: 1em;
}

img.logo:hover {
	transform: scale(1.1);
}

div.footerplaceholder {
	height: 90px;
	visibility: hidden;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 20px;
}

footer img.backtotop {
	transition: transform 0.5s, opacity 0.5s;
	opacity: 0.8;
}

footer img.backtotop:hover {
	transform: scale(1.25);
}

div.footertext {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	color: rgb(68,109,129);
	z-index: 100;
}

div.footertextblock {
	padding: 10px;
}

div.footergray {
	margin: 0px 169px 0px 0px;
	background-color: rgba(15, 0, 20, 0.9);
}

img.footerpix {
	opacity: 0.9;
	z-index: 10;
}

a.footeratop {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
}

section a {
	color: #666;
}

div.expander {
	display: inline-block;
	cursor: pointer;
	transition: transform 0.5s;
	margin-right: 20px;
	opacity: 0.8;
}

div.expander:hover {
	transform: scale(1.25);
}

div.content {
	margin: 8px 0 0 0; /* 8px 0 0 0: magic number 1 */
}

div.content > img {
	max-width: 100%;
}

div.item {
	display:inline-block;
}

div.aligncontainer {
	position: relative;
}

div.right {
	position: absolute;
	top: 0;
	right: 0;
}

div.center {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

div.centerimg {
	text-align: center;
}

div.personcardcontainer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

div.person:not(:last-child) {
	margin-bottom: 20px;
}

div.person > div.name {
	margin-left: 170px;
	font-style: italic;
	font-size: 110%;
	z-index: 500;
}

div.card {
	display: inline-block;
	position: relative;
	height: 168px;
	width: 140px;
	margin-bottom: 0px !important;
}

div.card > div.name {
	margin-left: 0px;
	text-align: center;
	bottom: 10px;
	position: absolute;
	width: 140px;
}

div.card a {
	color: #222;
	text-decoration: none;
}

div.card:hover a {
	color: #555;
}

div.picbiocontainer {
	position: relative;
}

div.person img.pic {
	position: absolute;
	top: 0;
	left: 10px;
	height: 130px;
	width: 130px;
	border-radius: 75px;
	transition: transform 0.5s;
	z-index: 750;
}

div.person:hover img.pic {
	transform: scale(1.35);
	z-index: 1000;
}

div.person:hover {
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.02);
	background-color: rgba(0,0,0,0.02);
}

div.picbiocontainer > div.bio {
	margin-left: 170px;
	min-height: 150px;
}

h1 {
	margin: 0;
	font-size: 125%;
	font-weight: normal;
	text-align: center;
}

h1 a {
	color: #222;
	text-decoration: none;
}

h1 a:hover {
	color: #555;
}

h2 {
	margin: 0;
	font-size: 115%;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}

i {
	font-style: italic;
}

div.carouselcontainer {
	height: 65px;
	position: relative;
	overflow-x: hidden;

	/* achieve margin using padding such that scaled images look nice */
	margin: 0px;
	padding: 8px 0 0 0; /* 8px 0 0 0: magic number 1 */
}

div.carousel {
	position: absolute;
	width: 50000px;
}

div.carousel > a {
	margin-right: 40px;
}

div.carousel img {
	transition: transform 0.5s;
	height: 52px;
}

div.carousel img:hover {
	transform: scale(1.25);
}

img.backtotop {
	height: 50px;
	width: 50px;
	margin-top: 5px;
	margin-right: 10px;
}

strong {
	font-weight: bold;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* makes things look at bit nicer in old IE... but in current IE / Edge, everything is just hopeless ^^ */
img {
	-ms-interpolation-mode: bicubic;
}

/* aaaand now for things that show more than one pixel per pixel: different font sizes!
   (and adapted other styles...) */

@media (max-width: 699px),
(min-resolution: 1.5dppx) and (max-width: 1049px),
(min-resolution: 2dppx) and (max-width: 1399px),
(min-resolution: 3dppx) and (max-width: 2099px) {
	.above700 {
		display: none;
	}
}

@media (max-resolution: 1dppx) and (min-width: 700px),
(max-resolution: 1.5dppx) and (min-width: 1050px),
(max-resolution: 2dppx) and (min-width: 1400px),
(min-width: 2100px) {
	.below700 {
		display: none;
	}
}

@media (min-resolution: 144dpi) {

	body {
		font-size: 150%;
	}

	header {
		margin-top: 10px;
	}

	div.headerbar {
		top: 30px;
		left: 340px;
	}

	div.footerplaceholder {
		height: 135px;
	}

	img.logo {
		width: 300px;
		height: 74px;
	}

	div.carouselcontainer {
		height: 97px;
	}

	div.carousel img {
		height: 78px;
	}

	img.backtotop {
		height: 75px;
		width: 75px;
	}
}

@media (min-resolution: 192dpi) {

	body {
		font-size: 200%;
	}

	header {
		margin-top: 0px;
	}

	div.headerbar {
		top: 36px;
		left: 430px;
	}

	div.footerplaceholder {
		height: 175px;
	}

	img.logo {
		width: 400px;
		height: 98px;
	}

	div.carouselcontainer {
		height: 130px;
	}

	div.carousel img {
		height: 104px;
	}

	img.backtotop {
		margin-top: 8px;
		height: 100px;
		width: 100px;
	}
}

@media (min-resolution: 288dpi) {

	body {
		font-size: 300%;
	}

	header {
		margin-top: 0px;
	}

	div.headerbar {
		top: 48px;
		left: 630px;
	}

	div.footerplaceholder {
		height: 222px;
	}

	img.logo {
		width: 600px;
		height: 147px;
	}

	div.carouselcontainer {
		height: 195px;
	}

	div.carousel img {
		height: 156px;
	}

	img.backtotop {
		margin-top: 8px;
		height: 150px;
		width: 150px;
	}
}


@media (max-resolution: 1dppx) and (min-width: 2000px),
	(max-resolution: 1.5dppx) and (min-width: 3000px),
	(max-resolution: 2dppx) and (min-width: 4000px),
	(min-width: 6000px) {
	div.maincontainer {
		max-width: 90%;
	}
}

@media (max-resolution: 1dppx) and (min-width: 1500px),
	(max-resolution: 1.5dppx) and (min-width: 2250px),
	(max-resolution: 2dppx) and (min-width: 3000px),
	(min-width: 4500px) {
	section {
		margin-right: 3%;
	}
}

@media (max-width: 1200px),
	(min-resolution: 1.5dppx) and (max-width: 1800px),
	(min-resolution: 2dppx) and (max-width: 2400px),
	(min-resolution: 3dppx) and (max-width: 3600px) {
	div.leftnavcontainer {
		width: 15%;
	}
	section {
		width: 65%;
	}
}

@media (max-width: 1000px),
	(min-resolution: 1.5dppx) and (max-width: 1500px),
	(min-resolution: 2dppx) and (max-width: 2000px),
	(min-resolution: 3dppx) and (max-width: 3000px) {
	div.maincontainer {
		max-width: 100%;
	}
	div.leftnavcontainer {
		width: 10%;
	}
	section {
		width: 68%;
	}
}

@media (max-width: 850px),
	(min-resolution: 1.5dppx) and (max-width: 1275px),
	(min-resolution: 2dppx) and (max-width: 1700px),
	(min-resolution: 3dppx) and (max-width: 2550px) {
	div.leftnavcontainer {
		width: 7%;
	}
	section {
		width: 70%;
	}
}

a.burger {
	position: absolute;
	top: 2.25em;
	left: 3%;
	z-index: 1100;
	display: none;
}

a.blogo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1000;
	display: none;
}

/* 785px and less, we need a radically different approach - make the left nav bar a dropdown, or something like that! */

@media (max-width: 785px),
	(min-resolution: 1.5dppx) and (max-width: 1177px),
	(min-resolution: 2dppx) and (max-width: 1570px),
	(min-resolution: 3dppx) and (max-width: 2355px) {
	div.leftnavcontainer {
		display:none;
	}
	section {
		width: 100%;
	}
	a.burger {
		display: block;
	}
	a.alogo {
		display: none;
	}
	a.blogo {
		display: block;
	}
	/* for nav.php */
	section.leftnav {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	div.headerbar {
		display: none;
	}
}

a.burger > img {
	height: 3em;
	width: 3em;
	transition: transform 0.5s, opacity 0.5s;
	opacity: 0.8;
}

a.burger:hover > img {
	transform: scale(1.25);
}

@media (min-resolution: 1.5dppx) {
	img.pix {
		transform: scale(1.5);
	}
}
@media (min-resolution: 2dppx) {
	img.pix {
		transform: scale(2);
	}
}
@media (min-resolution: 3dppx) {
	img.pix {
		transform: scale(3);
	}
}
